body {
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, rgb(220, 220, 220) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(220, 220, 220) 1px, transparent 1px);
}

li {
    font-size: 14px;
    margin-left: 15px;
    padding: 5px;
    list-style-type: disc;
 }

.show_hide {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.show_hide_help {
    position: absolute;
    top: 10px;
    right: 50px;
    margin: 0 auto;
}

.box {
    background: white;
    border: rgb(220, 220, 220);
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: opacity 0.5s linear, transform 0.5s linear;
    opacity: 1;
}

.form {
    width: 380px;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
}

.help {
    width: 150px;
    position: absolute;
    top: 50px;
    right: 50px;
}

.hidden {
    opacity: 0;
    transform: scale(0);
}

.form p {
    font-size: 20px;
}

.form input {
    margin-top: 10px;
}

canvas {
    background: transparent;
}